# Ignore ALL node_modules in monorepo
**/node_modules/

# Turbo cache
**/.turbo/

# Vite / Next / build directories
**/.vite/
**/.next/
**/dist/
**/build/

# pnpm store
node_modules/.pnpm

# Git
.git
.gitignore

# Env files
.env
.env.*
