DATABASE_URL="postgres://postgres:password@postgres:5432/Corevia"
POSTGRES_PASSWORD="password"
BETTER_AUTH_SECRET="supersecret"
NODE_ENV="production"
SESSION_SECRET="supersecret"
CORS_ORIGIN="http://localhost:80"
MASTERPASS="devpass123"
